services:
  geyik:
    image: node:25-alpine
    container_name: geyik
    restart: unless-stopped
    ports:
      - "5173:5173"
    working_dir: /app
    volumes:
      - ./:/app
    command: ["sh", "-c", "npm install && npm run dev"]
    depends_on:
      - pocketbase

  pocketbase:
    image: ghcr.io/muchobien/pocketbase:latest
    container_name: pocketbase
    restart: unless-stopped
    ports:
      - "8090:8090"
    volumes:
      - ./pb_migrations:/pb_migrations
      - ./pb_data:/pb_data
